<!DOCTYPE html>
<html>
<head>

<title><%= title %></title>
<%= csrf_meta_tag %>  <!-- needed to prevent cross site reference forgery -->
<%= render 'layouts/stylesheets' %>  <!-- partials, to _stylesheets-->
<%= javascript_include_tag 'prototype' %>  <!-- changed from :defaults 10.39 -->

</head>
<body>
 <div class="container">
  <%= render 'layouts/header' %>
  <section class="round">
	<% flash.each do |key, value| %>
		<%= content_tag(:div, value, :class => "flash #{key}") %>
	<% end %>
	<%= yield %>
  </section>
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
 </div>
</body>
</html>